.container, .container-lg,
 .container-md, 
 .container-sm {
    max-width: 1280px;
}
/*header*/
header{
	    background: black;
    padding: 20px 0px;
    border-top: 1px solid white;
}
/*menu*/
.navbar-dark .navbar-nav .nav-link {
  /* font-family: "HelveticaNeue"; */
   font-size: 16px;
    color: #fff;
    padding: 0px 18px;
}
/*title*/
.page-title{
	 padding: 70px 0px;
	background-size:cover;
	background-position:right top;
	background-repeat:no-repeat;
	/* font-family: "HelveticaNeue medium"; */
}
.page-title h2{
	color:white;
	/* font-family: "HelveticaNeue medium"; */
	font-size:32px;
}
.page1 .page-title{
	background-image:url(../img/banner1.jpg);
	
}
/*main*/
.main-content{
	padding:60px 0px;
}
.main-content h2{
	/* font-family: "HelveticaNeue"; */
	font-size:32px;
	color:black;
	margin-bottom: 30px;
}
.main-content {
	font-size:18px;
	color:#858489;
	/* font-family: "HelveticaNeue"; */
}
.main-content strong{
	color:black;
}
.main-content a{
	color:#6ebe4b;
	text-decoration:underline;
}
/*sidebar*/
.sidebar{
	padding-left:50px;
}
.sidebar p{
	color:black;
	font-size:19px;
	/* font-family: "HelveticaNeue"; */
}
.sidebar img{
	width:100%;
	max-width:100%;
	margin-bottom:10px;
}
.sidebar h3{
	/* font-family: "HelveticaNeue"; */
	font-size:25px;
	color:black;
	margin-bottom:20px;
}
.gray-box{
	background: #858489;
	color: #ffff;
	padding: 30px;
	font-size: 24px;
}
/*keylinks*/
.keylinks .btn{
	width: 100%;
    text-align: left;
    margin-bottom: 10px;
    background: #6ebe4b;
    color: black;
    border: 0px;
    border-radius: 0px;
    text-decoration: none;
    font-size: 16px;
	padding: 8px;
	/* font-family: "HelveticaNeue"; */
}
/*footer*/
footer{
	background-image:url(../img/footer-bg.jpg);
	 padding: 10px 0px;
	background-size:cover;
	background-position:left top;
	background-repeat:no-repeat;
}
.copyright{
	text-align:right;
	color:white;
	font-size:15px;
	padding: 25px 0px;
	/* font-family: "HelveticaNeue"; */
}

@media only screen and (max-width:500px){
	header span.fs-4 img {
		width: 100%;
	}
}